@import '$root/reset.css';

:root {
	--green-ryb: hsla(95, 45%, 44%, 1);
	--forest-green-traditional: hsla(121, 84%, 13%, 1);
	--xiketic: hsla(305, 73%, 6%, 1);
	--safety-orange: hsla(28, 99%, 49%, 1);
	--cyan-process: hsla(198, 78%, 64%, 1);

	--primary-bg: var(--xiketic);
	--primary-text: white;
	--primary-link: hsl(214, 70%, 62%);
	--primary-link-visited: hsl(266, 70%, 70%);

	--secondary-bg: var(--green-ryb);
	--secondary-text: black;

	--standard-border: var(--forest-green-traditional);

	--warning-border: var(--safety-orange);

	--info-border: var(--cyan-process);
	
	font-family: sans-serif;
}

.panel-primary {
	background-color: var(--primary-bg);
	color: var(--primary-text);
}

.panel-primary a {
	color: var(--primary-link);
}

.panel-primary a:visited {
	color: var(--primary-link-visited);
}

.panel-secondary {
	background-color: var(--secondary-bg);
	color: var(--secondary-text);
}

.panel-secondary a {
	color: revert;
}

.panel-secondary a:visited {
	color: revert;
}